$background-site-color : rgb(0, 0, 0);
$main-title-color : rgb(219, 0, 0);
$main-title-font : 'Arial Black', Arial, Verdana, sans-serif;
$text-color : rgb(255, 255, 255);
$font : Arial, Verdana, sans-serif;

body {
    background: $background-site-color;
    color: $text-color;
    max-width: 1400px;
    align-items: center;
    margin: auto;
}

h2 {
    font-family: $font;
    font-size: 1.8rem;
    margin-left: 80px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    &:visited {
        color: inherit;
        text-decoration: none;
    }
}

.header {
    display: flex;
    height:  150px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    flex-wrap: wrap;

    &__title {
        color: $main-title-color;
        font-family: $main-title-font;
        font-size: 3rem;
        margin-left: 10px;
        
    }
    &__nav {
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
       
    }

    &__category {
        margin-right: 15px;
        font-family: $font;  
    }
}

#top-film-block {
    font-family: $font;  
    color: $text-color;
    height:  15%;
    max-width: 500px;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 6px;
}

.button {
    border-radius: 30px;
    border: none;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
    background-color: $main-title-color;
    color: $text-color;

    &__previous {
        margin-top: 140px;
        margin-left: 15px;
        font-size: small;
        font-weight: lighter;
    }

    &__next {
        margin-top: 140px;
        margin-right: 15px;
        margin-left: 15px;
        font-size: small;
        font-weight: lighter;
    }
}

.images {
    &__top-films {
        display: flex;
    }
    &__animation {
        display: flex;
    }
    &__adventure {
        display: flex;
    }
    &__fantasy {
        display: flex;
    }
}

.caroussel {
    display: flex;
    
}

.gallery {
    display: flex;
    width: auto;
    overflow: hidden;
}

.imgPreview {
    
    &:hover {
        transform:scale(1.2);
        transition: 0.4s;
        cursor: pointer;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
  
      &__details {
      font-family: $font;
      background-color: darkgrey;
      color: black;
      margin: 15% auto; 
      padding: 20px;
      border-radius: 10px;
      width: 50%;
      }
      
      &__list {
          list-style-type: none;
          text-align: justify;
      }  
  }

  em {
    font-weight: bold;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover {
        color: grey;
        text-decoration: none;
        cursor: pointer;
    }

    &:focus {
        color: grey;
        text-decoration: none;
        cursor: pointer;
    }
  }